.cards{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 10px;
}
.card{
  display: flex;
  flex-direction: row;
  flex-basis: 300px;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  padding: 2%;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.card img{
  width: 50%;
  height: auto;
  border-radius: 4%;
}

 .card h3{
   flex-grow: 1;
   font-weight: bold;
   padding-left: 20px;
   font-size: 24px;
 }
